---
import { storyblokEditable, renderRichText } from "@storyblok/astro";
import { getIdFromContent } from "@lib/storyblokApi";
import Price from "@components/cards/Price.astro";

interface Props {
  blok: PricingStoryblok;
}

const { blok } = Astro.props;
const {
  content,
  surface = "",
  container = "breakout",
  align = "",
  items = [],
  padding_top = "pt-lg",
  padding_bottom = "pb-lg"
} = blok;

const renderedRichText = renderRichText(content); 
const id = getIdFromContent(content);
---

<div 
  {...storyblokEditable(blok)}
  {id}
  class={`${surface} ${padding_top} ${padding_bottom} intersection`}
>
  <div class="content-grid">
    <div class={`${container} gap-y-8 md:gap-y-10 relative z-40 grid`}>
      <div set:html={renderedRichText} class={`richtext text-balance max-w-2xl ${align}`} />

      {items.length > 0 && (
        <div class="inline-flex flex-wrap gap-4 md:gap-8 items-stretch">
          {items.map((item: PriceItemStoryblok) => (
            <Price blok={item} />
          ))}
        </div>
      )}
    </div>
  </div>
</div>
